body{
	font-family: 'Aldrich', sans-serif;
	color: white;
	background:#000;
	color: #eee;
	padding:0;
	margin:0;
	font-weight:bold;
	overflow:hidden;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}
div#menuSuperior{
	width:99%; 
	height:80px; 
	position:fixed; 
	overflow:hidden; 
	font-size: 15px;
	color:white;
	background-color: rgba(255, 255, 255, 0.1);
    z-index: 100;
    padding: 5px;

}
div#menuInferior{
	width:99%; 
	height:30px; 
	position:fixed; 
	bottom:0; 
	right:0; 
	left:0; 
	overflow:hidden; 
	font-size: 15px;
	color:white;
	background-color: rgba(255, 255, 255, 0.2);
    z-index: 10;
    padding: 5px;
}
div#controles{
	border-radius:7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius : 7px;
	width:235px;
	height:135px;
	position:fixed;
    background : rgba(255, 255, 255, 0.2);
    margin:auto;
    left:10px;
	top:180px;
    z-index: 10;
    padding: 8px;
    line-height:15px;
}
div#creditos{
	border-radius:7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius : 7px;
	padding: 8px;
	font-size: 10px;
	position:fixed;
	width:235px;
	height:155px;
	background:rgba(255, 255, 255, 0.2);
	left:10px;
	top:350px;
	vertical-align: 1px;
	z-index: 10;
	line-height:15px;
}
div#radar{
	border-radius:7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius : 7px;
	padding: 8px;
	font-size: 12px;
	position:fixed;
	min-width:230px;
	min-height:190px;
	width:20%;
	height:15%;
	background:rgba(255, 255, 255, 0.2);
	left:65%;
	top:30%;
	vertical-align: 1px;
	z-index: 100;
	line-height:15px;
}
div#pilotoAutomatico{
	border-radius:7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius : 7px;
	padding: 8px;
	font-size: 10px;
	position:fixed;
	width:170px;
	height:15px;
	background:rgba(255, 255, 255, 0.2);
	left:300px;
	top:240px;
	vertical-align: 1px;
	z-index: 10;
	line-height:15px;
}
div#sincombustible{
	border-radius:7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius : 7px;
	padding: 8px;
	font-size: 10px;
	position:fixed;
	width:170px;
	height:15px;
	background:rgba(255, 255, 255, 0.2);
	left:300px;
	top:200px;
	vertical-align: 1px;
	z-index: 10;
	line-height:15px;
}
div#introducirCoordenadas{
	border-radius:7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius : 7px;
	padding: 8px;
	font-size: 12px;
	position:fixed;
	min-width:280px;
	min-height:50px;
	width:21%;
	height:10%;
	background:rgba(255, 255, 255, 0.2);
	left:65%;
	top:65%;
	vertical-align: 1px;
	z-index: 100;
	line-height:10px;

}